{#{% extends "product_list.html" %}#}
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<style>
.prokrutka {
    height: 100px; /* высота нашего блока */
    width: 800px; /* ширина нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 2px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-y: scroll; /* прокрутка по вертикали */
}
.product_card {
    border: 4px solid #F00; /* размер и цвет границы блока */
}
.product_card_info {
    border: 1px solid #F00; /* размер и цвет границы блока */
}
</style>






<div class="product_card">
    <p> {{ form.name }} </p>
    <p> Категория: {{ form.category }} </p>
    <br/>
    <select id="select{{form.id}}" onchange="handleSelectChange({{form.id}},{{form}})">
        <option value="all"> ---- </option>
        {% for shop in form.shops %}
            <option value={{shop.id}}> {{shop.name}}</option>
        {% endfor %}
    </select>

    <div id="product_description_{{form.id}}" onload="renderShopCard(all,{{form}})">
    </div>
<!--   {% for shop in form.info %}-->
<!--    <div class="product_card_info">-->
<!--        <p>-->
<!--        Магазин : {{shop.shop}}  |-->
<!--        Цена <b>{{shop.price}}</b>   |-->
<!--        Цена до <b>{{shop.price_rrc}}</b>   |-->
<!--        Остаток <b>{{shop.quantity}}</b>   |-->
<!--        <button type="submit">В корзину</button>   |-->
<!--        {% include "product_info.html" %}-->
<!--    </div>-->
<!--    {% endfor %}-->
</div>
